---
import KForm from "@components/k-form.astro";
---

<h2>Set / Change Password</h2>
<shorter-password class="flex-contents">
    <KForm
        slug="old-password"
        desc="Old password"
        detail="Old password (leave empty if 'Password undefined')"
        type="input"
    />
    <KForm
        slug="new-password"
        desc="New password"
        detail="New password"
        type="input"
    />
    <code id="password-status">Submit first.</code>
    <button id="password-submit">Submit</button>
</div>

<script src="@scripts/components/shorter-password.ts"></script>
