---
import KForm from "@components/k-form.astro";
---

<h2>Reset a short token</h2>
<short-token-change class="flex-contents">
    <KForm
        slug="slug"
        desc="Short ID"
        detail="Short ID"
        type="input"
    />
    <KForm
        slug="old-token"
        desc="Old Token"
        detail="OLD Short token"
        type="input"
    />
    <KForm
        slug="new-token"
        desc="New Token"
        detail="NEW Short token"
        type="input"
    />
    <code id="status">Submit first.</code>
    <button id="submit">Submit</button>
</div>

<script src="@scripts/components/shorter/short-token-change.ts"></script>
