---
import KForm from "@components/k-form.astro";
---

<h2>Delete a short</h2>
<short-destroyer class="flex-contents">
    <KForm
        slug="slug"
        desc="Short ID"
        detail="Short ID"
        type="input"
    />
    <KForm
        slug="token"
        desc="token"
        detail="Short token"
        type="input"
    />
    <code id="status">Submit first.</code>
    <button id="submit">Submit</button>
</div>

<script src="@scripts/components/shorter/short-destroyer.ts"></script>
