---
import DataInput from "@components/data-input.astro";
import { Icon } from "astro-icon/components";
---

<shorter-password class="flex-contents">
    <DataInput
        slug="old-password"
        desc="Old admin password"
        detail="Old admin password (leave it empty if 'Password undefined')"
        type="input"
    />
    <DataInput
        slug="new-password"
        desc="New admin password"
        detail="New admin password"
        type="input"
    />

    <div class="mockup-code w-full my-2">
        <pre data-prefix="~"><code>请先提交</code></pre>
    </div>

    <button class="btn" id="password-submit">
        <label class="swap swap-rotate">
            <div class="swap-on">
                <!-- loading -->
                <span class="loading loading-spinner loading-md"></span>
            </div>
            <div class="swap-off">
                <!-- not loading -->
                <Icon name="iconoir:send" class="text-xl inline" />
            </div>
        </label>
        <span>Submit</span>
    </button>

</shorter-password>

<script src="@scripts/components/shorter/shorter-password.ts"></script>
