

// body {
//     margin: 0;
//     font-family: "Roboto", sans-serif, system-ui;
// }
// button {
//     width: 100%;
//     border: none;
//     background-color: #bbc5e8;
//     color: #25304c;
//     padding: 12px 18px;
//     border-radius: 25px;
//     &:active {
//         filter: brightness(0.85);
//     }
//     [data-icon] {
//         color: #25304c;
//         fill: #25304c;
//         height: 1.25rem;
//         width: 1.25rem;
//         vertical-align: -0.3rem;
//     }
// }
// code {
//     background-color: #1f2229;
//     padding: 12px 18px;
//     border-radius: 8px;
//     word-break: break-all;
// }


// a:link, a:visited {
//     color: white;
//     text-decoration: underline;
//     text-decoration-thickness: 1px;
//     text-decoration-style: dashed;
//     &:hover {
//         text-decoration-style: solid;
//     }    
// }

// [data-icon] {
//     vertical-align: -0.125rem;
// }