---
import "@styles/index.scss"
import Base from "@layouts/base.astro";
import Title from "@components/index/Title.astro";
import Main from "@components/index/main.astro"
---

<Base>
    <div class="main-card-con">
        <div class="main-card">
            <Title />
            <Main />
        </div>
    </div>
</Base>


