---
import Base from "@layouts/base.astro";
import SubURLGenerator from "@components/index/SubURLGenerator.astro";
import KShorter from "@components/index/k-shorter.astro";
---
<Base>
    <SubURLGenerator />
    
    <h3 style="text-align: center;"><a href="/shorter/">Looking for `The Shorter`? It's moved here.</a></h3>
</Base>