---
import "@styles/components/k-dropdown.scss";
import { Icon } from "astro-icon/components";

export type DropdownItemPrototype = { key: string, value: string };

interface Props {
    Items: DropdownItemPrototype[];
    Default?: DropdownItemPrototype;
}
const {
    Items,
    Default = {
        key: "还未选择",
        value: "__NULL__"
    }
} = Astro.props;
---


<k-dropdown data-onfocus="false" data-selected-value={Default.value}>
    <button>
        <span>{Default.key}</span>
        <Icon name="iconoir:arrow-down-tag" />
    </button>
    <div class="dropdown-content">
        {Items.map(i => {
            return (<button data-value={i.value}>{i.key}</button>)
        })}
    </div>
</k-dropdown>

<script src="@scripts/components/k-dropdown"></script>
