---
import "@styles/components/k-switch.scss";

interface Props {
    checked?: boolean;
}
const { checked = false } = Astro.props;
---

<k-switch data-checked={`${checked}`}></span>

<script src="@scripts/components/k-switch"></script>
