---

---

<div class="spliter"></div>

<style lang="scss">
    .spliter {
        width: 75%;
        height: 3px;
        border-radius: 3px;
        background-color: #78777c;
        margin: 16px auto;
    }
</style>
