---
import "@styles/import.css";
import SEOComponent from "@components/layouts/SEOComponent.astro";
interface Props {
	noindex?: boolean;
}
const { noindex = false } = Astro.props;
//import "@styles/main.scss";
//import "@styles/index.scss";

import NavBar from "@components/NavBar.astro";
---

<html lang="en" data-theme="Light Mint" class="bg-base-200">
	<head>
		<SEOComponent noindex={noindex} />
	</head>
	<body>
		<NavBar />

		<div class="my-8 mx-auto max-w-5xl px-6">
			<div class="main-card">
				<div class="contents">
					<slot />
				</div>
			</div>
		</div>
	</body>
</html>


<script>
    // update the backend
    import { getDefaultBackend } from "@scripts/utils/getDefaultBackend";
    document.body.dataset.defaultBackend = getDefaultBackend();
</script>
