---
import Base from "@layouts/base.astro";
import BackendIndicator from "@components/backendIndicator.astro";

import KShorter from "@components/shorter/k-shorter.astro";
---
<Base>
    <h1 class="text-2xl font-bold">Create a new Short</h1>

    <BackendIndicator />

    <KShorter />
</Base>

