---
import Base from "@layouts/base.astro";
import BackendIndicator from "@components/backendIndicator.astro";

import ShortDestroyer from "@components/shorter/short-destroyer.astro";
---
<Base>
    <h1 class="text-2xl font-bold">Destory a existing Short</h1>

    <BackendIndicator />

    <ShortDestroyer />
</Base>

