---
import Base from "@layouts/base.astro";
import { Icon } from "astro-icon/components";

import ShortEditor from "@components/shorter/short-editor.astro"
---
<Base>
    <h1>Short Editior</h1>
    <p><Icon name="iconoir:info-circle" />  Current backend: <code id="backend">[Checking...]</code></p>

    <ShortEditor />
</Base>

<script>
    // update the backend
    import { getDefaultBackend } from "@scripts/utils/getDefaultBackend";
    const defaultBackend = getDefaultBackend()
    
    document.body.dataset.defaultBackend = defaultBackend;

    const backendIndicator = document.querySelector("#backend") as HTMLElement;
    backendIndicator.innerText = defaultBackend;


</script>
