---
import Base from "@layouts/base.astro";
import { Icon } from "astro-icon/components";

import KShorter from "@components/shorter/k-shorter.astro";
import ShortDestroyer from "@components/shorter/short-destroyer.astro";
import ShortTokenChange from "@components/shorter/short-token-change.astro";
import ShorterList from "@components/shorter/shorter-list.astro"
import ShorterPassword from "@components/shorter/shorter-password.astro";
---
<Base>
    <h1>Shorts management</h1>
    <p><Icon name="iconoir:info-circle" />  Please ensure that you have binded a KV correctly to the project.</p>
    <p><Icon name="iconoir:info-circle" />  Current backend: <code id="backend">[Checking...]</code></p>

    <p><Icon name="iconoir:info-circle" />  Short ID: Access a short's content, no matter who.</p>
    <p><Icon name="iconoir:info-circle" />  Short Token: Edit or delete a short.</p>
    <p>Remember: Protect your confidential, and access via TLS.</p>

    <KShorter />
    <ShortDestroyer />
    <ShortTokenChange />
    
    <hr />

    <h1>Administration</h1>
    <p><Icon name="iconoir:info-circle" />  The following content is intended only for instance owners.</p>
    <div data-role="passwordStatus" data-status="checking">
        <h2>Admin password status</h2>
        <p data-status="true"><Icon name="iconoir:check-circle" />  Admin password defined.</p>
        <p data-status="false"><Icon name="iconoir:warning-triangle" />  Admin password undefined.</p>
        <p data-status="checking"><Icon name="iconoir:refresh-circle" />  Checking..</p>
        <p data-status="fail"><Icon name="iconoir:xmark-circle" />  Check failed, open console to get more information.</p>
    </div>
    <p><Icon name="iconoir:question-mark-circle" />  If you forget your admin password, delete the key "admin-password" in the KV database and set a new one.</p>
    <ShorterList />
    <ShorterPassword />
</Base>


<style lang="scss">
    div[data-role="passwordStatus"] {
        > p {
            display: none;
        }
        &[data-status="true"] > [data-status="true"] {
            display: block;
        }
        &[data-status="false"] > [data-status="false"] {
            display: block;
        }
        &[data-status="checking"] > [data-status="checking"] {
            display: block;
        }
        &[data-status="fail"] > [data-status="fail"] {
            display: block;
        }
    }
    [data-icon] {
        vertical-align: -0.125rem;
    }
</style>

<script>
    // update the backend
    import { getDefaultBackend } from "@scripts/utils/getDefaultBackend";
    const defaultBackend = getDefaultBackend()
    document.body.dataset.defaultBackend = defaultBackend;
    const backendIndicator = document.querySelector("#backend") as HTMLElement;
    backendIndicator.innerText = defaultBackend;

    // check for the admin password status
    const adminPasswordStatus = document.querySelector("[data-role=\"passwordStatus\"]") as HTMLElement;
    fetch (`${defaultBackend}/short/admin-password/status`)
        .then(res => res.json())
        .then(res => {
            adminPasswordStatus.dataset.status = res.isPasswordSet.toString();
        })
        .catch(() => {
            adminPasswordStatus.dataset.status = "fail";
        })
</script>
