---
import Base from "@layouts/base.astro";
import { Icon } from "astro-icon/components";
//import KForm from "@components/k-form.astro";

import ShorterList from "@components/shorter/shorter-list.astro"
---
<Base>
    <h1>Shorts list</h1>
    <p><Icon name="iconoir:info-circle" />  Current backend: <code id="backend">[Checking...]</code></p>

    <ShorterList />
</Base>

<script>
    // update the backend
    import { getDefaultBackend } from "@scripts/utils/getDefaultBackend";
    const defaultBackend = getDefaultBackend()
    
    document.body.dataset.defaultBackend = defaultBackend;

    const backendIndicator = document.querySelector("#backend") as HTMLElement;
    backendIndicator.innerText = defaultBackend;
</script>
